<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK Igleisas Chatbot</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="main-container">
        <div id="chat-container">
        </div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
            <button onclick="sendMessage(document.getElementById('user-input').value)">Enviar</button>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>